<!doctype html>
<html lang="en">
<head>
  <title>Info Tech</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Information Technologies</h2>
        <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>             -->
        <table class="table">
          <thead>
            <tr>
              <th>Subject ID</th>
              <th>Subject</th>
              <th>Credit</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            {% for item in myresult %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
            {% endfor %}
            <!-- <tr>
                    <td></td>
                    <td></td>
                    <td>{ % creds %}</td>
                    <td>{ % comp %}</td>
                </tr> -->
          </tbody>
        </table>
      </div>
    </body>
</html>